*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.top-header{
    height: 60px;
    display: flex;
}

.debug .top-header{
    background-color: aquamarine;
}

.header{
    display: inline-block;
    margin: 10px 0px;
    background-color: orange;
    border: 2px dotted;
    width: calc(80% / 3);
    display: flex;
    align-items: center;

}

.container-header{
    width: 100%;
    display:flex;
    justify-content: center;
    align-content: center;
}

.logo, .login{
    width: 300px;
}

.link{
    justify-content: space-around;
}

.login{
    justify-content: flex-end;
}

/*qui finiscono le stilizzazioni per il top header */

.debug .main-header{
    background-color: darkblue;
}

.debug .presentazione{
    background-color: darkorchid;
}

.main-header{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    
}

.presentazione{
    width: 50%;
    height: 80%;
    align-self:center;
}

/* qui finiscono stilizzazioni header */

.sezione{
    display: flex;
    height: 560px;
    justify-content: center;
    align-items: center;
}

.debug .grande{
    background-color: blue;
}

.grande{
    display: inline-block;
    width: 40%;
    height: 80%;
}

.debug .piccolo{
    background-color: darksalmon;
}

.piccolo{
    display: inline-block;
    width: 30%;
    height: 80%;
}

.debug .seconda, .quarta{
    background-color: lightgrey;
}

.seconda{
    flex-direction: row-reverse;
}

.quarta{
    height: 1000px;
    display:flex;
    justify-content: center;
}

.contenitore_unico{
    height: 90%;
    width: 70%;
    align-self: center;
}

.debug .contenitore_unico{
    background-color: darkgreen;
}